In [1]:
#1. Write a Python program to find the number of times 4 appears in the tuple. 
#Input: 
#tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )

#..Define the tuple..#
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)

#..Count occurrences of the number 4 in the tuple..#
cnt = tuplex.count(4)

#..Print the count of 4..#
print(cnt)

3

In [2]:
#2.Write a Python program to convert a list to a tuple.
#Input:
#listx = [5, 10, 7, 4, 15, 3]

#..Define the list..#
listx = [5, 10, 7, 4, 15, 3]

#..Print the type of listx..#
print(type(listx))

list

In [3]:
#..converting list to tuple..#
listx = tuple(listx)

In [4]:
#..checking type of list after converting to tuple..#
type(listx)

tuple

In [5]:
#3.Write a Python program to calculate the sum of the numbers in a given tuple.
#Input:
#tuples_list = [(1, 2), (3, 4), (5, 6)]

#..Define a list of tuples..#
tuples_list = [(1, 2), (3, 4), (5, 6)]
#..Calculate and print the sum of elements in each tuple..#
sum(tuples_list[0])

3

In [6]:
sum(tuples_list[1])

7

In [7]:
sum(tuples_list[2])

11

In [8]:
#4.Write a python program and iterate the given tuples 
#Input: 

#..Define employee tuples..#
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

#..Store tuples in a list..#
list_employees = [employee1, employee2, employee3]

#..Loop through each tuple and print employee details..#
for employee in list_employees:
    print(f"Name: {employee[0]}, ID: {employee[1]}, Department: {employee[2]}, Salary: {employee[3]}")

Name: John Doe, ID: 101, Department: Human Resources, Salary: 60000
Name: Alice Smith, ID: 102, Department: Marketing, Salary: 55000
Name: Bob Johnson, ID: 103, Department: Engineering, Salary: 75000