In [4]:
# Q1. Take a number from the user and prints all the number from 1 to that number

num = int(input('Enter a number: '))
for n in range(1, num + 1):
    print(n)

Enter a number: 6
1
2
3
4
5
6

In [5]:
# Q2. print only even numbers from 1 to user given number

num = int(input('Enter a number: '))
for n in range(1, num + 1):   
    if n % 2 == 0:
        print(n)

Enter a number: 5
2
4

In [7]:
# Q3. print the even numbers and their squares from 2 to user given number

num = int(input('Enter a number: '))
for n in range(1, num + 1):
    if n % 2 == 0:
        # print(n, ' --> ', n ** 2)
        print(f'{n} --> {n ** 2}')

Enter a number: 6
2 --> 4
4 --> 16
6 --> 36

In [8]:
# Q4. Sum of Natural Numbers
# Write a program to find the sum of all numbers from 1 to user given number.

num = int(input('Enter a number: '))
s = 0                                
for n in range(1, num + 1):         
    s += n                          
print(s)
print(n)

Enter a number: 7
28
7

In [10]:
# Q5. find the length of given string

len('Python')

6

In [11]:
len([1, 2, 3, 4, 5])

5

In [12]:
# Q6. Reverse a given string

my_str = input('Enter a string: ')
rev_str = ''
for char in my_str:
    rev_str = char + rev_str
print(rev_str)

Enter a string: naac
caan

In [13]:
# Q7. Python program to check if the given string is a palindrome

my_str = input('Enter a string in lowercase: ')

rev_str = ''

for char in my_str:
    rev_str = char + rev_str

if my_str == rev_str:
    print(f'{my_str} is a palindrome string')
else:
    print(f'{my_str} is not a palindrome string')

Enter a string in lowercase: racecar
racecar is a palindrome string

In [14]:
# Q8. Print a multiplication table of a given number

num = int(input('Enter a number: '))
for i in range(1, 11):
    print(f'{num} * {i} = {num * i}')

Enter a number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [15]:
# Q9. write a python program to find the factorial of a given number

num = int(input('Enter a number: '))
fact = 1  
for n in range(1, num + 1):
    fact *= n
print(f'{num}! = {fact}')

Enter a number: 4
4! = 24

In [16]:
# Q10. print the square pattern of 0's (4, 4)
# 0 0 0 0
# 0 0 0 0
# 0 0 0 0
# 0 0 0 0

for i in range(1, 5):
    for j in range(1, 5):
        print('0', end = ' ')
    print(end = '\n')

0 0 0 0
0 0 0 0
0 0 0 0
0 0 0 0

In [17]:
# Q11. print the square pattern of '*' (3, 5)

for i in range(3):
    for j in range(5):
        print('*', end = ' ')
    print(end = '\n')

* * * * *
* * * * *
* * * * *

In [19]:
# Q12. print the right angle triangle pattern of '*' for rows = 5
# *
# * *
# * * *
# * * * * 
# * * * * *

rows = 5
for row in range(rows):
    for col in range(row + 1):
        print('*', end = ' ')
    print(end = '\n')

*
* *
* * *
* * * *
* * * * *

In [20]:
# Q13. print the inverted right angle triangle pattern of '*' for rows = 5
# * * * * *   
# * * * * 
# * * *
# * *
# *

for row in range(1, rows + 1):
    for col in range(rows - row + 1):
        print('*', end = ' ')
    print(end = '\n')

* * * * *
* * * *
* * *
* *
*

In [21]:
# Q14. print the flipped right angle triangle pattern of '*' for rows = 5
#         *
#       * *
#     * * *
#   * * * * 
# * * * * *

for row in range(1, rows + 1):
    for space in range(rows - row):
        print(' ', end = ' ')
    for col in range(row):
        print('*', end = ' ')
    print(end = '\n')

        *
      * *
    * * *
  * * * *
* * * * *

In [22]:
# Q15. print the Pyramid Pattern for row = 5
#         *
#       * * *
#     * * * * *
#   * * * * * * *
# * * * * * * * * *

for row in range(1, rows + 1):
    for space in range(rows - row):
        print(' ', end = ' ')
    for col in range(2 * row - 1):
        print('*', end = ' ')
    print(end = '\n')

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [23]:
# Q16. print the inverted pyramid pattern for rows = 5

# * * * * * * * * *
#   * * * * * * *
#     * * * * *
#       * * *
#         *

for row in range(1, rows + 1):
    for space in range(row - 1):
        print(' ', end = ' ')
    for col in range(2 * (rows - row) + 1):
        print('*', end = ' ')
    print(end = '\n')

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [24]:
# Q17. print the diomond patterns for rows = 5
#     *
#    ***
#   *****
#  *******
# *********
#  *******
#   *****
#    ***
#     *

for row in range(1,rows+1):
    for space in range(rows-row):
        print(' ', end = ' ')
    for col in range(2*row-1):
        print('*', end = ' ')
    print(end ='\n')
    
for row in range(1, rows):
    for space in range(row):
        print(' ' , end = ' ')
    for col in range(2 * (rows - row) - 1):
        print('*' , end = ' ')
    print(end = '\n')

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [25]:
# Q18. print theNumber Triangle for rowS = 5
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

for row in range(1,rows+1):
    for col in range(1, row+1):
        print(col, end = ' ')
    print(end ='\n')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [27]:
# Q19. print the Reverse Number Triangle for rows = 5
# 1 2 3 4 5
# 1 2 3 4 
# 1 2 3
# 1 2
# 1

rows = 5
for row in range(rows, 0, -1): 
    for col in range(1, row + 1):
        print(col, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [28]:
# Q20. print the Number Pyramid for rows = 5
#     1                                           
#    121
#   12321
#  1234321
# 123454321

for row in range(1, rows + 1):
    for space in range(rows-row):
        print(' ', end = ' ')
    for col1 in range(1, row + 1):
        print(col1, end = ' ')
    for col2 in range(row, 1, -1):
        print(col2, end = ' ')
    print(end = '\n')

        1
      1 2 2
    1 2 3 3 2
  1 2 3 4 4 3 2
1 2 3 4 5 5 4 3 2

In [29]:
# Q21. print the Alphabet Pattern for rows = 5
# A
# AB
# ABC
# ABCD
# ABCDE

for row in range(1,rows+1):
    for col in range(1, row+1):
        print(chr(64+col), end = '')
    print(end ='\n')

A
AB
ABC
ABCD
ABCDE

In [30]:
# Q22. print the Floydâ€™s Triangle pattern for rows = 5
# 1
# 2 3
# 4 5 6
# 7 8 9 10
# 11 12 13 14 15

rows = 5
num = 1
for row in range(1,rows+1):
    for col in range(1, row+1):
        print(num, end = ' ')
        num += 1
    print(end ='\n')

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15